.white-text {
	color: #FFF;
}

.reveal section img {
	border: none;
	box-shadow: none;
}

section img.img-row-4 {
	max-width: 23%;
	max-height: 200px;
	margin-right: 2%;
}
section img.img-row-3 {
	max-width: 30%;
	max-height: 200px;
	margin-right: 2%;
}

section img.img-row-2 {
	max-width: 45%;
	max-height: 250px;
	margin-right: 2%;
}